name: YOS CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      PREFIX: $HOME/opt/cross
      SRCDIR: $HOME/src
      TARGET: i686-elf
      BINUTILS_VERSION: 2.45
      GCC_VERSION: 15.2.0

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Ensure directories exist
        run: |
          mkdir -p "$PREFIX"
          mkdir -p "$SRCDIR"

      - name: Cache compiled cross toolchain
        id: cross-cache
        uses: actions/cache@v4
        with:
          key: cross-${{ env.TARGET }}-${{ env.BINUTILS_VERSION }}-${{ env.GCC_VERSION }}
          path: $HOME/opt/cross

      - name: Cache downloaded GCC+Binutils sources
        id: source-cache
        uses: actions/cache@v4
        with:
          key: sources-${{ env.BINUTILS_VERSION }}-${{ env.GCC_VERSION }}
          path: $HOME/src

      - name: Install dependencies
        if: steps.cross-cache.outputs.cache-hit != 'true'
        run: |
          sudo apt update
          sudo apt install -y \
            build-essential \
            bison \
            flex \
            libgmp3-dev \
            libmpc-dev \
            libmpfr-dev \
            texinfo \
            wget

      - name: Download sources
        if: steps.source-cache.outputs.cache-hit != 'true'
        run: |
          cd "$SRCDIR"

          wget https://ftp.gnu.org/gnu/binutils/binutils-${BINUTILS_VERSION}.tar.gz
          wget https://ftp.gnu.org/gnu/gcc/gcc-${GCC_VERSION}/gcc-${GCC_VERSION}.tar.gz

          tar -xzf binutils-${BINUTILS_VERSION}.tar.gz
          tar -xzf gcc-${GCC_VERSION}.tar.gz

      - name: Build binutils
        if: steps.cross-cache.outputs.cache-hit != 'true'
        run: |
          export PATH="$PREFIX/bin:$PATH"
          mkdir -p "$SRCDIR/build-binutils"
          cd "$SRCDIR/build-binutils"

          ../binutils-${BINUTILS_VERSION}/configure \
            --target=$TARGET \
            --prefix="$PREFIX" \
            --with-sysroot \
            --disable-nls \
            --disable-werror

          make -j$(nproc)
          make install

      - name: Build GCC
        if: steps.cross-cache.outputs.cache-hit != 'true'
        run: |
          export PATH="$PREFIX/bin:$PATH"

          which -- $TARGET-as || { echo "ERROR: assembler missing"; exit 1; }

          mkdir -p "$SRCDIR/build-gcc"
          cd "$SRCDIR/build-gcc"

          ../gcc-${GCC_VERSION}/configure \
            --target=$TARGET \
            --prefix="$PREFIX" \
            --disable-nls \
            --enable-languages=c,c++ \
            --without-headers \
            --disable-hosted-libstdcxx

          make all-gcc -j$(nproc)
          make all-target-libgcc -j$(nproc)
          make all-target-libstdc++-v3 -j$(nproc)
          make install-gcc
          make install-target-libgcc
          make install-target-libstdc++-v3

      - name: Add cross compiler to PATH
        run: echo "${PREFIX}/bin" >> $GITHUB_PATH

      - name: Verify toolchain
        run: |
          i686-elf-gcc --version
          i686-elf-ld --version

      - name: Install QEMU
        run: |
          sudo apt update
          sudo apt install -y qemu-system-i386
